<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>unipapa</h1>
                    <p>表明星座好多我要優惠還不他們一點字體，一定會家族夥伴集團積極床上把你我想交流搜尋引擎能不能，以及背。</p>
                    <a href="#" class="btn btn-blue m-5">閱讀更多</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container subscribe">
        <a href="#">
            <img src="https://picsum.photos/id/77/1200/400" alt="">
            <span>訂閱配送</span>
        </a>
    </div>
    <div class="container" id="activity">
        <div class="row">
            <div class="col-12">
                <h2>活動特輯</h2>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">#2021夏日蚊蟲攻防計畫</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/13/800/600" alt=""  class="img-cover">
                        <span class="d-inline-block p-2">#2021家的深呼吸</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/14/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">#潮拎阿罵</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content" class="t-dark">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/15/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">有序延長線心得募集</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="new">
        <div class="row">
            <div class="col-12">
                <h2>活動特輯</h2>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">#2021夏日蚊蟲攻防計畫</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/13/800/600" alt=""  class="img-cover">
                        <span class="d-inline-block p-2">#2021家的深呼吸</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/14/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">#潮拎阿罵</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content" class="t-dark">
                    <a href="#" class="t-dark">
                        <img src="https://picsum.photos/id/15/800/600" alt="" class="img-cover">
                        <span class="d-inline-block p-2">有序延長線心得募集</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="promotion">
        <div class="row">
            <div class="col-12">
                <h2>限定促銷</h2>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex t-dark">
                        <img src="https://picsum.photos/id/96/200" alt="">
                        <span class="promotion-info relative w-100">
                            <span class="w-100 d-block pl-2 pt-1">防蚊卡夾</span>
                            <span class="promotion-price w-100 d-block pb-1 pr-2 absolute t-right">
                                <span class="t-light t-delete">$ 499</span>
                                <span class="t-red">$ 450</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12"><hr></div>
        </div>
    </div>
    <div class="container" id="blog">
        <div class="row">
            <div class="col-12">
                <h2>文章特集</h2>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark t-none">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-block p-2">#2021夏日蚊蟲攻防計畫</span>
                        <span class="d-flex justify-content-between">
                            <span class="d-inline-block p-2 t-light">2020/07/11</span>
                            <span class="d-inline-block p-2 t-light">好物開箱</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark t-none">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-block p-2">#2021夏日蚊蟲攻防計畫</span>
                        <span class="d-flex justify-content-between">
                            <span class="d-inline-block p-2 t-light">2020/07/11</span>
                            <span class="d-inline-block p-2 t-light">好物開箱</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark t-none">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-block p-2">#2021夏日蚊蟲攻防計畫</span>
                        <span class="d-flex justify-content-between">
                            <span class="d-inline-block p-2 t-light">2020/07/11</span>
                            <span class="d-inline-block p-2 t-light">好物開箱</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="t-dark t-none">
                        <img src="https://picsum.photos/id/12/800/600" alt="" class="img-cover">
                        <span class="d-block p-2">#2021夏日蚊蟲攻防計畫</span>
                        <span class="d-flex justify-content-between">
                            <span class="d-inline-block p-2 t-light">2020/07/11</span>
                            <span class="d-inline-block p-2 t-light">好物開箱</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about">
        <div class="row">
            <div class="col-12">
                <h2>關於我們</h2>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex align-items-center t-dark t-none">
                        <img src="https://picsum.photos/id/55/150" alt="">
                        <span class="pl-2">企業資訊</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex align-items-center t-dark t-none">
                        <img src="https://picsum.photos/id/25/150" alt="">
                        <span class="pl-2">實體販售地點</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex align-items-center t-dark t-none">
                        <img src="https://picsum.photos/id/3/150" alt="">
                        <span class="pl-2">人才招募</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="content">
                    <a href="#" class="d-flex align-items-center t-dark t-none">
                        <img src="https://picsum.photos/id/45/150" alt="">
                        <span class="pl-2">支援服務</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>