<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
        <div v-if="qty > 10">尚有庫存</div>
        <div v-else-if="qty > 0 ">低庫存</div>
        <div v-else>補貨中</div>
        <div>
            {{qty > 10 ? '尚有庫存': qty > 0 ? '低庫存' : '補貨中'}}
        </div>
        <div>
            {{items}}
        </div>
        <div>
            <div v-for="item in items">{{item}}</div>
            <ul>
                <li v-for="(item,idx) of items">{{item}}-- {{idx}}</li>
            </ul>
        </div>
        <a :href="link">link</a>
        <img :src="img" alt="">
        <div>
            <div v-for="drink in drinks">{{drink.name}} ${{drink.price}}</div>
        </div>
        <div>{{drinksName}}</div>
        <div>{{drinksPrice}}</div>
        <div>{{status}}</div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    title: 'Hello Vue!!',
                    desc: 'lorem ipsum',
                    link: 'https://tw.yahoo.com',
                    img: 'https://picsum.photos/id/45/300',
                    items: ['Apple', 'Dog', 'Cat', 'Banana', 'Egg', 'test'],
                    qty:8,
                    drinks: [
                        {
                            id: 1,
                            name: '紅茶',
                            price: '20'
                        },
                        {
                            id: 2,
                            name: '綠茶',
                            price: '20'
                        },
                        {
                            id: 3,
                            name: '奶茶',
                            price: '30'
                        }
                    ]
                }
            },
            computed:{
                drinksName(){
                    return this.drinks.map(drink => drink.name );
                },
                drinksPrice(){
                    return this.drinks.map(drink => drink.price);
                },
                status(){
                    if(this.qty > 10){
                        return '庫存充足';
                    }else if(this.qty > 0){
                        return '低庫存';
                    }else{
                        return '補貨中'
                    }
                }
            }
        }).mount('#app');
    </script>
</body>

</html>