<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .thumbs {
            display: flex;
            width: 600px;
        }
        .thumb {
            width: 20%;
        }
        .thumb img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}} -- {{colorName}}</h1>
        <img :src="`images/${img}`" alt="">
        <div class="thumbs">
            <div v-for="(product,idx) in products"  class="thumb">
                <img :src="`images/${product.img}`" @click="selectedIndex = idx">
            </div>
        </div>
        <div>
            <div v-if="qty > 20">庫存充足</div>
            <div v-else-if="qty > 0">少量庫存</div>
            <div v-else>補貨中</div>
        </div>
        <div>
            {{qty > 20 ? '庫存充足' : qty > 0 ? '少量庫存' : '補貨中'}}
        </div>
        <button v-if="qty > 0">加入購物車</button>
        <button disabled v-else>補貨中</button>
    </div>
    <script>
        const products = [
            {
                id:1,
                name:'純棉網眼抽縐polo衫',
                colorName:'黑色',
                color:'#000',
                img:'5341720_500.jpg',
                qty:1
            },
            {
                id:2,
                name:'純棉網眼抽縐polo衫',
                colorName:'紫色',
                color:'purple',
                img:'5341702_500.jpg',
                qty:23
            },
            {
                id:3,
                name:'純棉網眼抽縐polo衫',
                colorName:'紅色',
                color:'#f00',
                img:'5341707_500.jpg',
                qty:14
            },
            {
                id:4,
                name:'純棉網眼抽縐polo衫',
                colorName:'綠色',
                color:'green',
                img:'5341716_500.jpg',
                qty:0
            },
            {
                id:5,
                name:'純棉網眼抽縐polo衫',
                colorName:'黃色',
                color:'yellow',
                img:'5341714_500.jpg',
                qty:9
            },
        ];
        Vue.createApp({
            data(){
                return{
                    products:products,
                    selectedIndex: 0
                }
            },
            computed:{
                img(){
                    return this.products[this.selectedIndex].img;
                },
                title(){
                    return this.products[this.selectedIndex].name;
                },
                colorName(){
                    return this.products[this.selectedIndex].colorName;
                },
                qty(){
                    return this.products[this.selectedIndex].qty;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>